.wrap-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 999998;
  opacity: .1;
}
.wrap-content {
  position: absolute;
  opacity: 1;
  background: #FFF;
  border-radius: 10px;
  z-index: 999999;
  font-size: 12px;
  :before {
    content: '';
    position: absolute;
    right: 10px;
    top: -25px;
    border: 10px solid transparent;
    border-bottom: 20px solid #FFF;
  }
  .item {
    padding:10px 0px;
    margin:0 5px;
    text-align: center;
    color: #000;
    border-bottom: 1px solid #F2F2F2;
    :last-child{
      border-bottom: none;
    }
  }
}